<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>ControlStore</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/api/products" class="nav-link">Productos</a></li>
                <li><a href="/chat" class="nav-link">Chat</a></li>
                <li><a href="/contacto" class="nav-link">Contacto</a></li
            </ul>
        </nav>
    </header>
    <main>
     {{{body}}}
    </main>

    <footer>
            <section class="contenedor-footer">
                <div class="footer-title">
                    <h3>ControlStore</h3>
                </div>

                <div class="footer-icons">
                    <i>Instagram</i>
                    <i>Github</i>
                    <i>Youtube</i>
                </div>
            </section>
    </footer>
</body>
</html>