<section class="login-container">
 <h1>Login</h1>

<div>
    <form class="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>CONTRASEÑA</label>
        <input name="password">
        <input type="submit">
    </form>
</div>

¿No tienes una cuenta? <a href="/register">Regístrate</a>

También puedes ingresa por
<a href="/api/sessions/github"><button>Github :)</button></a>
</section>
   

<script src="/js/login.js"></script>