<section class="register-container">
<h1>Register</h1>

<div>
    <form id="registerForm">
        <label>Nombre</label>
        <input name="firstName">
        <br/>
        <label>Apellido</label>
        <input name="lastName">
        <br/>
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Edad</label>
        <input name="age">
        <br/>
        <label>CONTRASEÑA</label>
        <input name="password">
        <input type="submit">
    </form>
</div>
</section>


<script src="/js/register.js"></script>