header{
    background-color: black;
}

.nav-link{
    color: white;
}

h1{
   color: black;
   text-align: center;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
    height: 300px;
    width: 300px;
}

a{
    text-decoration: none;
    color: black;
}

.btn-products{
    border: 1px solid black;
}