

 <h1>Login</h1>
<section class="login-container">
<div class="login-survey">
    <form id="loginForm">
        <label>Email</label>
        <input class="inputs" name="email" placeholder="Ingrese su email">
        <br/>
        <label>Contraseña</label>
        <input class="inputs" name="password" placeholder="Ingrese su contraseña">
        <input type="submit">
    </form>
</div>

<div class="login-alternatives">
<p>¿No tienes una cuenta? <a class="linkto-register" href="/register">Regístrate</a></p>
</div>

</section>
   

<script src="/js/login.js"></script>