*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
}

footer{
    background-color: black;
    color: white;
    width: 100%;
}

.nav-link{
    color: white;
}

h1{
    padding-top: 25px;
   color: black;
   text-align: center;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
    height: 300px;
    width: 300px;
}

a{
    text-decoration: none;
    color: black;
}

.btn-products{
    border: 1px solid black;
}