<h1>OUR FAVORITES</h1>
<section class="containerProducts">
{{#each listProducts}}
<div class="product">
<img class="product__img" src={{thumbnail}} alt="imagen de producto">
<h3>{{title}}</h3>
<span>{{price}}</span>
<a class="btn-products" href="#">Comprar</a>
</div>
{{/each}}
</section>